/**********
Functions
**********/
@function convertToRem($pixelSize) {
    @return ($pixelSize / 16) + rem;
}

/**********
Variables
**********/
$background-sedan: #e28625;
$background-suv: #006971;
$background-luxury: #004140;

/**********
Styles - Mobile first
**********/

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: convertToRem(15);
}

.heading {
    font-size: convertToRem(40);
    font-family: "Big Shoulders Display";
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.card-width {
    min-width: 265px;
    padding-left: 48px;
}
.sedan {
    background: $background-sedan;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.suv {
    background: $background-suv;
}

.luxury {
    background: $background-luxury;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.description {
    max-width: 231px;
    color: white;
    opacity: 0.75;
    line-height: 1.6rem;
    margin-bottom: 30px;
}

.learnMore {
    border: 0;
    background: white;
    font-size: convertToRem(15);
    font-family: "Lexend Deca", sans-serif;
    padding: 1rem 2rem;
    border-radius: 25px;
    margin: 15px 0px 40px 0;
    cursor: pointer;
    border: solid 2px white;
}

.learnMore-sedan {
    color: $background-sedan;
}

.learnMore-suv {
    color: $background-suv;
}

.learnMore-luxury {
    color: $background-luxury;
}

.img-logo {
    margin-top: 50px;
}

.attribution {
    display: none;
    text-align: center;
    margin-top: 50px;
}

/**********
Styles - Responsiveness
For desktop::
    once you get to certian width the flex direction needs to chagne from column to row
    hover will need to change button color of text and background
**********/

//Would it be better to try and use landscape for mobile landscape responsiveness?
@media all and (min-width: 750px) {
    * {
        margin: 0;
    }
    .html {
        height: 100%;
    }

    .content-wrapper {
        height: 100vh;
        overflow-y: hidden;
        flex-direction: row;
    }

    .card-width {
        min-width: 240px;
        padding-left: 20px;
    }

    .sedan {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .luxury {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .img-logo {
        margin-bottom: 10px;
    }

    .heading {
        margin-bottom: 30px;
    }

    .learnMore-sedan:hover {
        background: $background-sedan;
        color: white;
    }

    .learnMore-suv:hover {
        background: $background-suv;
        color: white;
    }

    .learnMore-luxury:hover {
        background: $background-luxury;
        color: white;
    }

    .description {
        max-width: 212px;
        margin-bottom: 30x;
    }
}

@media all and (min-width: 950px) {
    * {
        margin: 0;
    }
    .html {
        height: 100%;
    }

    .content-wrapper {
        height: 100vh;
        overflow-y: hidden;
        flex-direction: row;
    }

    .description {
        max-width: 237px;
        margin-bottom: 50px;
    }

    .img-logo {
        margin-bottom: 30px;
    }

    .card-width {
        min-width: 260px;
        padding-left: 40px;
    }
}
